$page-background-color: #111;

$font-color: white;
$footer-font-color: #8DC9F7;
$footer-link-color: white;

$darkest: #002D61;
$mid: #0067A2;
$light: #8DC9F7;

$button-hover-color: #004c79;
$button-press-color: #002D61;

$console-border: #4A5156;
$console-background: black;

// $active-instruction-color: 

$highlight: #F7BF0A;

@font-face {
    font-family: Cousine;
    src: url(fonts/Cousine-Regular.ttf);
}

@font-face {
    font-family: Heebo;
    src: url(fonts/Heebo-Thin.ttf);
}

@font-face {
    font-family: Urbanist;
    src: url(fonts/Urbanist-Medium.ttf)
}

html {
    background-color: $page-background-color;
    font-family: Cousine;
    height: 100%;
}

body {
    color: $font-color;

    padding-top: 8pt;
    margin: 8pt;
    background-image: linear-gradient($darkest, $mid);
    border-radius: 5px;
    border: 1px solid $mid;
    box-shadow: 0px 4px 8px black;
}

.highlight {
    color: $highlight;
}

h1, h2, h3 {
    font-family: Heebo;
    font-weight: normal;
}

#console-container {
    background-color: $console-background;
    border-color: $console-border;
}

#user-input {
    background-color: $console-background;
    border: 1px solid $font-color;
    color: $font-color;
}

header>h1 {
    text-align: center;
    font-size: 32pt;
    font-family: Urbanist;
    text-shadow: 0px 4px 8px black;
}

main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-top: 12pt;
}

main > section {
    width: 30%;
    border: 1px solid $light;
    border-radius: 5px;
    padding: 8pt;
    box-shadow: 0px 4px 8px black;
}

#current-instruction-row {
    color: $highlight;
    text-shadow: 0px 0px 4px black;
}

main h2 {
    text-align: center;
}

main input, main button {
    width: 100%;
    font-family: Cousine;
    font-size: 16pt;
    padding: 2px;
}

#registers-col {
    width: 10pt;
}

#registers-table tr>td:nth-of-type(1) {
    color: $light;
    text-align: right;
}

#instruction-address-col {
    width: 110pt;
}

#instruction-table tr>td:nth-of-type(1) {
    color: $light;
}

#step-button {
    background-color: $mid;
    color: $font-color;
    border: 1px solid $light;
}

#step-button:hover {
    background-color: $button-hover-color;
}

#step-button:active {
    background-color: $button-press-color;
}

#current-instruction {
    font-weight: bold;
}

main table {
    width: 100%;
}

main td {
    font-size: 16pt;
}

footer {
    padding: 8pt;
    line-height: 2;
}

footer>p {
    color: $footer-font-color;
    text-align: center;
    font-size: 10pt;
}

footer>p>a {
    color: $footer-link-color;
}