/**
Note that this is a sass CSS file; use "sass home.scss home.css" to build home.css

The colors below are inserted into the .css file.
This will make theming/color tweaks easier
**/
@font-face {
  font-family: Cousine;
  src: url(/static/fonts/Cousine-Regular.ttf);
}
@font-face {
  font-family: Heebo;
  src: url(/static/fonts/Heebo-Thin.ttf);
}
@font-face {
  font-family: Urbanist;
  src: url(/static/fonts/Urbanist-Medium.ttf);
}
html {
  background-color: #111;
  font-family: Cousine;
  height: 100%;
}

body {
  color: white;
  padding-top: 1vw;
  margin: 1vw;
  background-image: linear-gradient(#002D61, #0067A2);
  border-radius: 5px;
  border: 1px solid #0067A2;
  box-shadow: 0px 4px 8px black;
}

.highlight {
  color: #F7BF0A;
}

h1, h2, h3 {
  font-family: Heebo;
  font-weight: normal;
}

h2 {
  font-size: 1.25vw;
}

#console-container {
  background-color: black;
  background-image: linear-gradient(rgb(20, 20, 20), black 20%);
  border-color: #4A5156;
}

#table-wrapper {
  overflow-y: auto;
  height: 22vw;
}

#table-wrapper::-webkit-scrollbar {
  background-color: black;
  width: 3px;
}

#table-wrapper::-webkit-scrollbar-thumb {
  background: #4A5156;
}

.input-container {
  display: flex;
  align-items: center;
  border: 1px solid #4A5156;
  border-radius: 5px;
  width: 100%;
}

.border-highlight {
  outline: solid 1px white;
}

.input-decoration {
  color: white;
  font-size: 1.2vw;
}

#user-input {
  background-color: black;
  border: none;
  color: white;
  flex: 2;
}

#user-input:focus {
  outline: none;
}

header > h1 {
  text-align: center;
  font-size: 2.5vw;
  font-family: Urbanist;
  text-shadow: 0px 4px 8px black;
}

main {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin-top: 1.2vw;
}

main > section {
  width: 30%;
  border: 1px solid #8DC9F7;
  border-radius: 5px;
  padding: 0.75vw;
  box-shadow: 0px 4px 8px black;
}

#current-instruction-row, .active {
  color: #F7BF0A;
  text-shadow: 0px 0px 4px black;
}

main h2 {
  text-align: center;
}

main input, main button {
  width: 100%;
  font-family: Cousine;
  font-size: 1.2vw;
  padding: 0.3vw;
}

#registers-col {
  width: 1px;
}

#registers-int-col, #registers-float-col {
  width: 25%;
}

#registers-table tr > td:nth-of-type(1) {
  color: #8DC9F7;
  text-align: right;
}

#registers-table tr > td:nth-of-type(2) {
  padding-left: 0.5vw;
}

#registers-table tr > td:nth-of-type(3),
#registers-table tr > td:nth-of-type(4) {
  text-align: center;
}

#instruction-address-col {
  width: 1px;
}

#instruction-table tr > td:nth-of-type(1) {
  color: #8DC9F7;
}

#instruction-table tr > td:nth-of-type(2) {
  padding-left: 1vw;
}

#step-button {
  background-color: #0067A2;
  color: white;
  border: 1px solid #8DC9F7;
}

#step-button:hover {
  background-color: #004c79;
}

#step-button:active {
  background-color: #002D61;
}

#current-instruction {
  font-weight: bold;
}

main table {
  width: 100%;
}

main td {
  font-size: 1.1vw;
}

footer {
  padding: 1vw;
  line-height: 2;
}

footer > p {
  color: #8DC9F7;
  text-align: center;
  font-size: 0.8vw;
}

footer > p > a {
  color: white;
}

/*# sourceMappingURL=home.css.map */
