/**
Note that this is a sass CSS file; use "sass home.scss home.css" to build home.css

The colors below are inserted into the .css file.
This will make theming/color tweaks easier
**/


// t.$active-instruction-color: 

@use 'theme' as t;

@font-face {
    font-family: Cousine;
    src: url(/static/fonts/Cousine-Regular.ttf);
}

@font-face {
    font-family: Heebo;
    src: url(/static/fonts/Heebo-Thin.ttf);
}

@font-face {
    font-family: Urbanist;
    src: url(/static/fonts/Urbanist-Medium.ttf)
}

html {
    background-color: t.$page-background-color;
    font-family: Cousine;
    height: 100%;
}

body {
    color: t.$font-color;

    padding-top: 1vw;
    margin: 1vw;
    background-image: linear-gradient(t.$darkest, t.$mid);
    border-radius: 5px;
    border: 1px solid t.$mid;
    box-shadow: 0px 4px 8px black;
}

.highlight {
    color: t.$highlight;
}

h1, h2, h3 {
    font-family: Heebo;
    font-weight: normal;
}

h2 {
    font-size: 1.25vw;
}

#console-container {
    background-color: t.$console-background;
    background-image: linear-gradient(t.$console-background-top, t.$console-background 20%);
    border-color: t.$console-border;
}

#table-wrapper {
    overflow-y: auto;
    height: 21.5vw;
}

#table-wrapper::-webkit-scrollbar {
    background-color: t.$console-background;
    width: .3vw;
}

#table-wrapper::-webkit-scrollbar-thumb {
    background: t.$console-border;
  }

.input-container {
    display: flex;
    align-items: center;
    border: 1px solid t.$console-border;
    border-radius: 5px;
    width: 100%;
    margin-top: .5vw;
}

.border-highlight {
    outline: solid 1px white;
}

.input-decoration {
    color: t.$font-color;
    font-size: 1.2vw;
}

#user-input {
    background-color: t.$console-background;
    border: none;
    color: t.$font-color;
    flex: 2;
}

#user-input:focus {
    outline: none;
}

#instruction-container {
    
}

#register-container {
    
}

header > h1 {
    text-align: center;
    font-size: 2.5vw;
    font-family: Urbanist;
    text-shadow: 0px 4px 8px black;
}

main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-top: 1.2vw;
}

main > section {
    width: 30%;
    border: 1px solid t.$light;
    border-radius: 5px;
    padding: 0.75vw;
    box-shadow: 0px 4px 8px black;
    height: 30vw;
}

#current-instruction-row, .active {
    color: t.$highlight;
    text-shadow: 0px 0px 4px black;
}

h2 {
    text-align: center;
}

main input, main button {
    width: 100%;
    font-family: Cousine;
    font-size: 1.2vw;
    padding: 0.3vw;
}

#registers-col {
    width: 1px;
}

#registers-int-col, #registers-float-col {
    width: 25%;
}

#registers-table tr > td:nth-of-type(1) {
    color: t.$light;
    text-align: right;
}

#registers-table tr > td:nth-of-type(2) {
    padding-left: 0.5vw;
}
#registers-table tr > td:nth-of-type(3),
#registers-table tr > td:nth-of-type(4) {
    text-align: center;
}

#instruction-address-col {
    width: 1px;
}

#instruction-table tr > td:nth-of-type(1) {
    color: t.$light;
}

#instruction-table tr > td:nth-of-type(2) {
    padding-left: 1vw;
}

#step-button {
    background-color: t.$mid;
    color: t.$font-color;
    border: 1px solid t.$light;
}

#step-button:hover {
    background-color: t.$button-hover-color;
}

#step-button:active {
    background-color: t.$button-press-color;
}

#current-instruction {
    font-weight: bold;
}

main table {
    width: 100%;
}

main td {
    font-size: 1.1vw;
}

footer {
    padding: 1vw;
    line-height: 2;
}

footer > p {
    color: t.$footer-font-color;
    text-align: center;
    font-size: 0.8vw;
}

footer > p > a {
    color: t.$footer-link-color;
}

.dump-window {
    z-index: 1;
    position: fixed;
    
    background-image: linear-gradient(t.$console-background-top, t.$console-background);
    border-radius: 5px;
    border: 1px solid t.$console-border;
    box-shadow: 0px 4px 8px black;
    padding: 1vw;
    left: 24vw;
    top: 10vw;
    cursor: move;
    display: none;
}

.dump-window table {
    width: 50vw;
}

#l-window table {
    width: 30vw;
}

#dump-hide-button, #l-dump-hide-button {
    color: t.$console-border;
    position: absolute;
}

#dump-hide-button:hover, #l-dump-hide-button:hover {
    color: t.$font-color;
    text-decoration: none;
}

.or {
    text-align: center;
    font-size: 1.2vw;
}