<!DOCTYPE html>
<html>
    <head>
        <title>Chemu Web Interface</title>
        <link href="{{ url_for('static', filename='css/reset.css') }}" rel="stylesheet"/>
        <link href="{{ url_for('static', filename='css/home.css') }}" rel="stylesheet"/>
        <script src="{{ url_for('static', filename='scripts/main.js') }}"></script>
        <script src="{{ url_for('static', filename='scripts/activestyle.js') }}"></script>
    </head>
    <body>
        <header>
            <h1>Chemu <span class="highlight">Web Interface</span></h1>
        </header>
        <main>
            <section id="console-container">
                <h2>I/O</h2>
                <table id="console-table">
                    <tr><td>&nbsp;</td></tr>
                    <tr><td>&nbsp;</td></tr>
                    <tr><td>&nbsp;</td></tr>
                    <tr><td>&nbsp;</td></tr>
                    <tr><td>&nbsp;</td></tr>
                    <tr><td>&nbsp;</td></tr>
                    <tr><td>&nbsp;</td></tr>
                    <tr><td>&nbsp;</td></tr>
                    <tr><td>&nbsp;</td></tr>
                    <tr><td>&nbsp;</td></tr>
                    <tr><td>&nbsp;</td></tr>
                    <tr><td>&nbsp;</td></tr>
                    <tr><td>&nbsp;</td></tr>
                    <tr><td>&nbsp;</td></tr>
                </table>
                <div id="input-container" class="input-container">
                    <div class="input-decoration">&nbsp;%&nbsp;</div>
                    <input type="text" id="user-input" placeholder="enter a command here"/>
                </div>
                <p style="text-align: center;">or</p>
                <button type="button" id="step-button" onclick="stepPressed()">Step</button>
            </section>
            <section id="instruction-container">
                <h2>Instructions</h2>
                <table id="instruction-table">
                    <thead>
                        <th id="instruction-address-col"></th>
                        <th></th>
                    </thead>
                    
                    <tr>
                        <td id="instruction-address0">0x???????0</td>
                        <td id="instruction0">add rd, rm, op2</td>
                    </tr>
                    <tr>
                        <td id="instruction-address1">0x???????4</td>
                        <td id="instruction1">sub rd, rm, op2</td>
                    </tr>
                    <tr>
                        <td id="instruction-address2">0x???????8</td>
                        <td id="instruction2">mul rd, rm, op2</td>
                    </tr>
                    <tr>
                        <td id="instruction-address3">0x???????C</td>
                        <td id="instruction3">div rd, rm, op2</td>
                    </tr>
                    <tr>
                        <td id="instruction-address4">0x??????10</td>
                        <td id="instruction4">mod rd, rm, op2</td>
                    </tr>
                    <tr id="current-instruction-row">
                        <td id="instruction-address5">0x??????14</td>
                        <td id="instruction5">and rd, rm, op2</td>
                    </tr>
                    <tr>
                        <td id="instruction-address6">0x??????18</td>
                        <td id="instruction6">orr rd, rm, op2</td>
                    </tr>
                    <tr>
                        <td id="instruction-address7">0x??????1C</td>
                        <td id="instruction7">eor rd, rn, op2</td>
                    </tr>
                    <tr>
                        <td id="instruction-address8">0x??????20</td>
                        <td id="instruction8">adc rd, rm, op2</td>
                    </tr>
                    <tr>
                        <td id="instruction-address9">0x??????24</td>
                        <td id="instruction9">sbc rd, rm, op2</td>
                    </tr>
                    <tr>
                        <td id="instruction-address10">0x??????28</td>
                        <td id="instruction10">adf rd, rm, op2</td>
                    </tr>
                    <!-- <tr>
                        <td id="instruction-address11">0x??????2C</td>
                        <td id="instruction11">suf rd, rm, op2</td>
                    </tr>
                    <tr>
                        <td id="instruction-address12">0x??????30</td>
                        <td id="instruction12">muf rd, rm, op2</td>
                    </tr>
                    <tr>
                        <td id="instruction-address13">0x??????34</td>
                        <td id="instruction13">dif rd, rm, op2</td>
                    </tr>
                    <tr>
                        <td id="instruction-address14">0x??????38</td>
                        <td id="instruction14">mov rd, op2</td>
                    </tr>
                    <tr>
                        <td id="instruction-address15">0x??????3C</td>
                        <td id="instruction15">mva rd, op2</td>
                    </tr>
                    <tr>
                        <td id="instruction-address16">0x??????40</td>
                        <td id="instruction16">cmp rd, op2</td> -->
                    </tr>
                </table>
            </section>
            <section id="register-container">
                <h2>Registers</h2>
                <table id="registers-table">
                    <thead>
                        <th id="registers-col"></th>
                        <th></th>
                    </thead>
                    <tr>
                        <td>r0:</td>
                        <td id="reg0-hex">0x00000000</td>
                    </tr>
                    <tr>
                        <td>r1:</td>
                        <td id="reg1-hex">0x00000000</td>
                    </tr>
                    <tr>
                        <td>r2:</td>
                        <td id="reg2-hex">0x00000000</td>
                    </tr>
                    <tr>
                        <td>r3:</td>
                        <td id="reg3-hex">0x00000000</td>
                    </tr>
                    <tr>
                        <td>r4:</td>
                        <td id="reg4-hex">0x00000000</td>
                    </tr>
                    <tr>
                        <td>r5:</td>
                        <td id="reg5-hex">0x00000000</td>
                    </tr>
                    <tr>
                        <td>r6:</td>
                        <td id="reg6-hex">0x00000000</td>
                    </tr>
                    <tr>
                        <td>r7:</td>
                        <td id="reg7-hex">0x00000000</td>
                    </tr>
                    <tr>
                        <td>r8:</td>
                        <td id="reg8-hex">0x00000000</td>
                    </tr>
                    <tr>
                        <td>r9:</td>
                        <td id="reg9-hex">0x00000000</td>
                    </tr>
                    <tr>
                        <td>r10:</td>
                        <td id="reg10-hex">0x00000000</td>
                    </tr>
                    <tr>
                        <td>r11:</td>
                        <td id="reg11-hex">0x00000000</td>
                    </tr>
                    <tr>
                        <td>r12:</td>
                        <td id="reg12-hex">0x00000000</td>
                    </tr>
                    <tr>
                        <td>sp:</td>
                        <td id="reg13-hex">0x00000000</td>
                    </tr>
                    <tr>
                        <td>lr:</td>
                        <td id="reg14-hex">0x00000000</td>
                    </tr>
                    <tr>
                        <td>pc:</td>
                        <td id="reg15-hex">0x00000000</td>
                    </tr>
                    <tr>
                        <td>cpsr:</td>
                        <td id="reg16-hex">0x00000000</td>
                    </tr>
                </table>
            </section>
        </main>
        <footer>
            <p>
                Web interface and Python backend implemented by <a href="mailto:lknight2@mail.umw.edu">Lauren Knight</a>
            </p>
            <p>
                Thank you to <a href="mailto:ecooper@umw.edu">Professor Gusty Cooper</a>
                and the <a href="https://www.umw.edu">University of Mary Washington</a> for the opportunity to work on this project :)
            </p>
        </footer>
    </body>
</html>